@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 87.35%; 
  margin: 0 auto;
}

/* common styling */
h3 {
  color: #0d204a;
  font-size: 30px;
  font-weight: bold;
}

.property-cards,
.service-cards,
.customer-cards,
.home-details,
.counters,
.agent-cards,
.footer-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.service-card-title,
.customer-card-title,
.home-biodata span {
  display: block;
  color: #0b1c43;
  font-size: 18px;
  font-weight: bold;
}

.home h3 + p,
.agent h3 + p,
.agent-desination + p  {
  color: #9c9c9c;
  font-size: 15px;
  text-align: center;
  line-height: 24px;
  letter-spacing: 1px;
}

 header .active { color: #fcfdfd; }
/*=================================
  Header styling starts here
=================================*/
.container { position: relative; }

header {
  width:87.35%;
  position: absolute;
  top: 21px;
  left: 50%;
  transform: translate(-50%);
}

header .wrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 29px 4.1% 29px 2.8%;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #1a5655;
}

h1 {
  color: #cddddd;
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
}

h1 a { 
  color: inherit;
  transition: all .3s;
}

.nev-link {
  color: #cce7ff;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: all .3s;
}

nav {
  flex-basis: 80%;
  text-align: right;
}

nav li { margin-left: 3.7%; }
.dropdown { margin-right: 2px;}

.dropdown::after {
  content: "\f105";
  padding: 0 0 0 18px;
  position: absolute;
  top: 27px;
  font-size: 13px;
  font-family: "fontAwesome";
  transform: rotate(90deg);
}

.hamburger { display: none; }
.bar {
  width: 25px;
  height: 3px;
  margin: 5px;
  display: block;
  background-color: #fff;
  text-indent: -9999px;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* about banner start */
.home-banner {
  background: url(../images/img/home-bg.jpg) no-repeat bottom fixed;
  background-size: cover;
}

.home-banner .wrapper {
  padding: 252px 0 270px;
  text-align: center;
}

h2 {
  margin-bottom: 30px;
  color: #fffffc;
  font-size: 34px;
  font-weight: bold;
  word-spacing: 3px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap ;
}

form div {
  width: 39.1%;
  margin-right: 55px;
}

input[type="text"] {
  width: 100%;
  padding: 20px 5.2%;
  border: none;
  border-radius: 30px;
  outline: none;
}

input[type="text"]::placeholder {
  color: #757678;
  font-size: 16px;
}

.error { display: none; }

input[type="submit"] {
  padding: 18px 2.6%;
  border-radius:30px;
  border: 2px solid transparent;
  background-color: #1a5656;
  color: #fff;
  font-size: 16px;
  transition: all .3s;
}
/* about banner end */

/* property start */
.property .wrapper { padding: 80px 0 100px; }
.property-cards {margin: 79px 16px 55px 0; }
.property-card-content { padding: 37px 0 32px 30px; }

.doller {
  padding-bottom: 6px;
  border-bottom:2px solid #1a5655 ;
  margin-bottom: 11px;
  display: inline-block;
  color: #1a5655;
  font-size: 20px;
  font-weight: bold;
}

.address {
  margin-bottom: 17px;
  color: #9c9c9c;
  font-size: 14px;
  text-transform: capitalize;
}

.address + p {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
 }

 .address + p span { text-transform:uppercase; }

.room-details  span::before{
  padding-right: 8px;
  color: #9c9c9c;
  font-size: 18px;
  font-family: "fontAwesome";
}

.bed::before { content: "\f236"; }
.bath::before { content: "\f2cd"; }

.bed {
  margin-right: 13px;
  display: inline-block;
}

.bed,
.bath {
  color: #9c9c9c;
  font-size: 13px;
}

.property-card a {
  padding: 10px 4.3%;
  border-radius: 30px;
  border: 2px solid transparent;
  margin-top: 24px ;
  background-color: #1d5655;
  color: #fff;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: all .3s;
}

.dot { text-align: center; }
.dot .active { background-color: #0e2551; }
.dot li { padding: 0 0.2%; }

.dot a {
  width: 8px;
  height: 8px;
  border-radius: 30px;
  background-color: #e9e8ed;
  text-indent: -9999px;
}
/* property end */

/* service start */
.service { background-color: #f3f4f6; }
.service .wrapper { padding: 30px 0; }

.service-card {
  box-sizing: border-box;
  flex-basis: 23.5%;
  padding: 30px 2%;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
}

.service-icon {
  margin-bottom: 60px;
  display: block;
  position: relative;
  text-indent: -9999px;
}

.service-icon::before {
  position: absolute;
  left: 50%;
  color: #0b1c43;
  font-size: 64px;
  font-family: "fontAwesome";
  transform: translate(-50%);
  text-indent: 0;
}

.service-card:nth-child(1) .service-icon::before { content: "\f015"; }
.service-card:nth-child(2) .service-icon::before { content: "\f1ad"; }
.service-card:nth-child(3) .service-icon::before { content: "\f015"; }
.service-card:nth-child(4) .service-icon::before { content: "\f183"; }
.service-card-title { margin-bottom: 14px; }

.service-card-discription {
  color: #9c9c9c;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: .5px;
}

.service-link {
  padding-bottom:12px ;
  border-bottom: 3px solid #1a5655;
  margin: 20px 0 18px;
  color: #1a5655;
  font-size: 15px;
  text-transform: capitalize;
}
/* service end */

/* customer start */
.customer .wrapper { padding: 85px 0; }

.customer-card {   
  box-sizing: border-box;
  margin: 53px 0 35px ;
  flex-basis: 32%; 
}

.customer-card figure {
  width: 90px;
  height: 90px;
  margin-bottom: 22px;
}

.customer-card figure img { border-radius: 50px; }

.start {
  display: inline-block;
  text-indent: -9999px;
}

.start::before {
  content: "\f005";
  float: left;
  color: #f6cf4f;
  font-size: 16px;
  font-family: "fontAwesome";
  text-indent: 0;
}

.customer-card-title {
  margin: 5px 0 27px ;
  text-transform: capitalize;
}

.customer-content {
  color: #000;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 1px;
}

.customer-designation {
  margin: 22px 0; 
  color: #9c9c9c;
  font-size: 15px;
  text-transform: capitalize;
}
/* customer end */

/* home start */
.home { background-color: #f8f9fb; }
.home .wrapper { padding: 65px 0 75px; }

.home h3 {
  padding:0 30%;
  margin-bottom: 24px;
  letter-spacing: 1px;
  line-height: 40px;
  text-align: center;
  word-spacing: 5px;
}

.home h3 + p { padding: 0 31%; }

.home-details {
  margin: 62px 0 66px;
  align-items: start;
}

.home-contents { flex-basis: 40%; }
.home-details { flex-basis: 55%; }

.home-data {
  margin-bottom: 46px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.home-icon {
  width: 85px;
  border-radius: 50px;
  border: 2px solid transparent;
  height: 85px;
  display: inline-block;
  position: relative;
  text-indent: -9999px;
  background-color: #d7d7d7;
  transition: all .3s;
}

.home-icon::before {
  content: "\f015";
  position: absolute;
  left: 50%;
  top: 50%;
  float: left;
  color: #010b0e;
  font-size: 18px;
  font-family: "fontAwesome";
  text-indent: 0;
  transform: translate(-50%,-50%);
}

.home-data:nth-child(1) .home-icon::before {  content: "\f015"; }
.home-data:nth-child(2) .home-icon::before {  content: "\f007"; }
.home-data:nth-child(3) .home-icon::before {  content: "\f132"; }

.home-biodata {
  margin-left: 15px;
  flex: 78%; 
}

.home-biodata span {
  margin: 20px 0 10px;
  display: inline-block;
}

.home-biodata p {
  padding-right: 20%;
  color:#9c9c9c ;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1px;
}

.counter {
  flex-basis: 25%;
  text-align: left;
}

.number {
  margin-bottom: 10px;
  display: inline-block;
  color:#0b1c43 ;
  font-size: 40px;
  font-weight: bold;
}

.number + p {
  color:#9c9c9c ;
  font-size: 15px;
}
/* home end */

/* enroll start */
.enroll .wrapper {
  padding: 72px 0 85px;
  text-align: center;
}

.enroll h3 { letter-spacing: 1px; }

.enroll a {
  padding: 20px 2.2%;
  border: 2px solid transparent;
  border-radius: 30px ;
  margin-top: 26px;
  background-color: #1b5652;
  color: #fff;
  letter-spacing: 1px;
  outline: none;
  transition: all .3s;
}
/* enroll end */

/* agent start */
.agent { background-color: #f8f9fb; }

.agent .wrapper {
  padding: 72px 0 70px;
  text-align: center;
}

.agent h3 { margin-bottom: 32px;}

.agent h3 + p {
  padding: 0 25%;
  line-height: 22px;
}

.agent-cards { margin-top: 100px; }

.agent-card {
  flex-basis: 32%;
  padding: 0 0 60px 0;
  position: relative;
  background-color: #fff;
}

.agent-card figure{
  width: 92px;
  height: 92px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
}

.agent-card figure img { border-radius: 50px; }

.agent-card-title {
  margin-top: 80px;
  display: inline-block;
  color: #000;
  font-weight: bold;
  text-transform: capitalize;
}

.agent-desination {
  margin-top: 3px;
  color: #9c9c9c;
  font-size: 15px;
  text-transform: capitalize;
}

.agent-desination + p {
  padding:0 8%;
  margin-top: 20px;
  line-height: 22px;
}

.agent-icons li { margin: 0 1.2%; }
.agent-icons { margin-top: 18px; }

.agents-icon { 
  width: 43px;
  height: 43px;
  border: 2px solid transparent;
  border-radius: 30px;
  display: inline-block;
  position: relative;
  background-color: #0d204c;
  text-indent: -9999px;
  transition: all .3s;
}

.agents-icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
  float: right;
  font-size: 14px;
  color: #fff;
  font-family: "fontAwesome";
  text-indent: 0;
  transform: translate(-50%,-50%);
}

.agent-icons li:nth-child(1) .agents-icon::before { content: "\f099"; }
.agent-icons li:nth-child(2) .agents-icon::before { content: "\f09a"; }
.agent-icons li:nth-child(3) .agents-icon::before { content: "\f0e1"; }
.agent-icons li:nth-child(4) .agents-icon::before { content: "\f16d"; }
/* agent end */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/
footer { background-color: #efefef; }
footer .wrapper { padding: 70px 0 65px; }
.footer-details { align-items: start; }

.footer-title {
  margin-bottom: 18px;
  display: inline-block;
  color: #0d204a;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}


.footer-contact,
.footer-sources,
.footer-links {  
  flex-basis: 32%;
  color: #9c9c9c;
}

.footer-sources a,
.footer-links a,
.footer-contact-links a { color: inherit; }

.footer-contact p {
  margin-bottom: 24px;
  font-size: 14px;
}

.footer-contact-link,
.footer-sources-right li,
.footer-sources-left li,
.footer-links-lists li {
  margin-bottom: 15px;
  display: block;
}

.footer-sources-links { display: flex; }
.footer-sources-right {margin-left: 95px; }
.footer-sources-right .uppercase { text-transform: uppercase; }

.footer-sources-right a,
.footer-sources-left a,
.footer-links-lists a,
.footer-contact-link a {
  font-size: 15px;
  text-decoration: underline;
  text-transform: capitalize;
  transition: all .3s;
}

.footer-contact-link a { text-transform: lowercase; }
.footer-icons { margin-top: 22px; }

.footer-icon {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
  border-radius: 15px;
  display: inline-block;
  position: relative;
  background-color: #cbcbcb;
  text-indent: -9999px;
  transition: all .3s;
}

.footer-icon::before {
  float: left;
  position: absolute;
  left: 50%;
  top: 50%;
  color: #79777a;
  content: "\f105";
  font-size: 14px;
  font-family: "fontAwesome";
  text-indent: 0;
  transform: translate(-50%,-50%);
}

.footer-icons li:nth-child(1) .footer-icon::before { content: "\f16d"; }
.footer-icons li:nth-child(2) .footer-icon::before { content: "\f099"; }
.footer-icons li:nth-child(3) .footer-icon::before { content: "\f09a"; }
.footer-icons li:nth-child(4) .footer-icon::before { content: "\f0e1"; }
.footer-icons li:nth-child(5) .footer-icon::before { content: "\f0d2"; }
.footer-icons li:nth-child(6) .footer-icon::before { content: "\f1e3"; }

.copyright {
  padding: 0 25%;
  margin-top: 55px;
  display: block;
  color: #9c9c9c;
  font-size: 15px;
  line-height: 40px;
  word-spacing: 5px;
  text-align: center;
}

.copyright a {
  color: inherit;
  text-decoration: underline;
  transition: all .3s;
}
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (min-width: 1024px) {
   header h1:hover,
   .nev-link:hover { color: #fcfdfd; }

   input[type="submit"]:hover,
   .property-card a:hover,
   .enroll a:hover { 
    border: 2px solid #1c5554;
    color: #1c5554;
    background-color: #fff;
   }

  .agents-icon:hover { 
    border: 2px solid #0d204c;
    background-color: #fff;
  }
  .agents-icon:hover::before { color: #0d204c; }

  .footer-sources-right a:hover,
  .footer-sources-left a:hover,
  .footer-links-lists a:hover,
  .footer-contact-link a:hover,
  .copyright a:hover { color: #0d204a; }

  .footer-icon:hover {
    border: 2px solid #fff;
    background-color: #0d204a; 
  }

  .footer-icon:hover::before { color: #fff; }
  .home-icon:hover { border: 2px solid #010b0e; }
}